body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

input {
  border: 2px solid #ccc;
  border-radius: 5px;
}

div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
